<div class="order-summary">
    <table class="table table-striped table-hover">
      <thead>
          <tr class="grid-header def-header">
            <th>Qty</th>
            <th>Price</th>
            <th>Users/Orders</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of summaryList; trackBy: trackByFn">
            <td>{{ item.order_qty }}Kg</td>
            <td>{{ item.price | currency: 'GBP' }}</td>
            <td>{{ item.userOrders }}</td>
          </tr>
      </tbody>
    </table>
  </div>